<h3 class="mb-3"><%= pageTitle %></h3>

<form method="post" action="/userGames/<%= userGame.id %>?_method=PUT">
  <div class="mb-3">
    <label for="name" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="username" value="<%= userGame.username %>" required>
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Password</label>
    <input type="text" class="form-control" id="password" name="password" value="<%= userGame.password %>" required>
  </div>

 

  <div class="row">
    <div class="col-auto">
      <button type="button" onclick="history.back()" class="btn btn-danger">Batal</button>
    </div>

    <div class="col-auto">
      <button type="reset" class="btn btn-secondary">Reset</button>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>